/messTestData/112233.csv
/messTestData/20201119.csv
/data.zip
/messTestData/Dette_er_en_test.csv
/messTestData/formattedPos0.csv
/messTestData/formattedPos1.csv
/messTestData/formattedPos2.csv
/messTestData/mess.py
/output_fixed.txt
/messTestData/test0.csv
/messTestData/test1.csv
/messTestData/test2.csv
/messTestData/test3.csv
/messTestData/test4.csv
/messTestData/test5.csv
/TestBiggerSlow8PeerPoS.csv
/messTestData/TestSlow8PeerPoS0.csv
/messTestData/TestSlow8PeerPoS1.csv
/messTestData/TestSlow8PeerPoS2.csv
/TestSlow8PeerPoSFixedGraph.csv
/messTestData/TestSlow8PeerPoW0.csv
/messTestData/TestSlow8PeerPoW0Formatted.csv
/messTestData/TestSlow8PeerPoW1.csv
/messTestData/TestSlow8PeerPoW1Formatted.csv
/messTestData/TestSlow8PeerPoW2.csv
/messTestData/TestSlow8PeerPoW2Formatted.csv
